<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TECH BLOG</title>
  <meta charset="utf-8">
  <!-- CSS only -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DynaPuff&family=Merriweather&family=Montserrat:wght@100;400;900&family=Sacramento&family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar text-center ">
    <div class="container">
      <div class="navbar-header">        
          <a href="/compose">
             <p class="navbar-brand "  >JINGYAO'S TECH BLOG</p>
          </a>   
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a   href="/" >HOME</a></li>
          <li id="about"><a href="/about" >ABOUT THE BLOG</a></li>
          <li id="contact"><a   href="/contact">CONTACT ME</a></li>
         <li><form method="get" action="/login"><button  type="submit"class="btn btn-default navbar-btn">Sign in</button></form></li>
        </ul>
    </div>
  </nav>
  


  <body>
    <div class="container">
