<%- include("partials/header"); -%>
  
    <div class="jumbotron text-center">
        <h1>Welcome, guest!</h1>
        <h3 >Sorry, you are unauthorized, please login again.</h3>
        <a href="/" style="margin-right:50px;"><button type="button" class="btn btn-primary btn-lg">Home</button></a>
       <a href="/login" > <button type="button" class="btn  btn-lg btn-primary" >Login</button></a>
      </div>
    
<%- include("partials/footer"); -%>
